@import "tailwindcss";

@font-face {
    font-family: 'Inter-SemiBold'; 
    src: url(./assets/font/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter-Regular'; 
    src: url(./assets/font/Inter_18pt-Regular.ttf);
}